*{
    padding:0px;
    margin: 0px;
}
.head{
    background-color: #6E3D7C;
    display: flex;
    /* position: fixed; */
}

.logo img{
    width: 200px;
    height: 50px;
}

.head .menu ul{
    padding: 15px;
    margin: 0px;
    text-transform:uppercase;
}
.head .menu ul li{
display: inline;
color: white;
padding: 10px 30px 10px 30px;
}

.image img{
  width: 100%;
}
.content p{
    text-align: center;
    padding: 20px 30px 30px 20px;
    background-color: whitesmoke;
    margin: 0px;
    color: #A3A4A4;
}
.footer{
    display: flex;
    background-color:#6E3D7C;
    color: white;
}
.footer .col1 ul{
    list-style: none;
}
.footer .col2 ul{
    list-style: none;
}
.col1 ul li{
    padding: 5px;
}
.col2 ul li{
    padding: 5px;
}

.col1{
    width: 33.33%;
    padding: 40px 0px 40px 0px;
}
.col2{
    width: 33.33%;
    padding: 40px 0px 40px 0px;
}
.col3{
    width: 33.33%;
    padding: 40px 0px 40px 0px;
}